nltk==3.4.5
pytorch-lightning==1.4.8
spacy==3.1.2
torch==1.8.1
transformers==4.10.3
h5py==3.4.0
fairseq==0.10.0
torch-scatter==2.0.8
torch-sparse==0.6.12
pytorch_pretrained_bert==0.6.2
# run python -m spacy download en_core_web_sm after